/*Global Style*/

body{
    height: 3000px;
}
.container{
    width: 1170px;
    margin: auto;
}
ul,ol{
    margin: 0;
    padding: 0;
}
h2,h1{
    margin: 0;
}
/*End Global Style*/

/*start header*/

.header .slider{
    height: 650px;
    background-image: url("../images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header .slider .intro{
    text-align: center;
    color: #fff;
    padding-top: 200px;
}
.header .slider .intro h1{
    font-size: 55px;
    width: 700px;
    margin: auto;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 5px 0;

}
.header .slider .intro button{
    font-size: 29px;
    background: transparent;
    padding: 15px 30px ;
    font-weight: bold;
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: 1s;
}
.header .slider .intro button:hover{
    background-color: #2ecc71;
}
.header .nav{
    background: #252F31;
    padding: 10px 0;
    color: #fff;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 20px
}
.header .nav h2{
    float: left;
    padding: 10px 0;
}
.header .nav h2 span{
    color: #2ecc71;
}
.header .nav ul{
    float: right;
    text-align: center;
    padding: 10px 0 
}
.header .nav ul li{
    display: inline-block;
    padding-right: 10px;
    
}
.header .nav ul li a{
    color: #fff;
    text-decoration: none
}
.header .nav ul li.active a{
    color: #2ecc71
}
.header .nav ul li a:hover{
    color: #2ecc71;
    text-decoration: underline
}
/*End header*/

/*start features*/
.features{
    overflow: hidden;
    padding: 50px 0;
    
}
.features .feat{
    float: left;
    width: calc(100%/3);
}
.features .feat h3{
    color: #777;
    font-size: 25px;
    margin-bottom:0;
}

.features .feat p:first-letter{
    font-size: 30px;
    color: brown;
}
/*end features*/

/*Start About Me*/
.about-me{
    background-color: #F2F2F2;
    overflow: hidden;
}

.about-me .image{
    float: left;
    width: 40%;
    margin-right: 5%;
}
.about-me .image img{
    max-width: 100%
}
.about-me .about{
    float: left;
    width: 55%;
}
.about-me .about h3{
    font-size: 30px;
    color: #888;
    margin-bottom: 0;;
}
.about-me .about > p{
    margin: 10px 0 15px 0;
}
.about-me .about .hobbies{
    overflow: hidden;
}

.about-me .about .hobbies > div{
    float: left;
    width: 50%;
    overflow: hidden;;
    margin-bottom: 10px;

}
.about-me .about .hobbies > div .intro{
    float: right;
    width: 80%;
}
.about-me .about .hobbies > div .intro h4{

    color: #777;
    font-size: 20px;
    margin: 0;

}
.about-me .about .hobbies > div .intro p{
    margin-bottom: 0;
    font-size: 18px;
}

.about-me .about .hobbies > div i{
    display: block;
    float: right;
    width: 15%;
    margin-right: 5%;
    color: #2ecc71;
    line-height: 50px;
}
/*End About Me*/

/*Start Our Skills*/
.our-skills{
    padding: 50px 0;
    overflow: hidden;
}

.our-skills .skill-intro,.our-skills .skill-progress{
    float: left;
    width: 45%;
    margin-right: 5%;
}
.our-skills .skill-intro h3{
    font-size:30px ;
    color: #888;
}

.our-skills .skill-progress h4{
    font-size: 20px;
    font-weight: bold;
    color: #888;
}
.our-skills .skill-progress .prog {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ddd;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
}
.our-skills .skill-progress .prog span{
    background-color: #2ecc71;
    color: #fff;
    display: block;
    text-align: right;
}
.our-skills .skill-progress .prog:first-of-type span{
    width: 90%;
}
.our-skills .skill-progress .prog:nth-of-type(2) span{
width: 85%;
}
.our-skills .skill-progress .prog:nth-of-type(3) span{
    width: 80%;
}
.our-skills .skill-progress .prog:nth-of-type(4) span{
        width: 75%;
}
            
/*End our Skills*/

/*Start Our Resume*/
.resume{
    background-color: #eee;
    padding: 50px 0;
    text-align: center;
}
.resume h3{
    font-size: 30px;
    color: #888;
    font-weight: bold;
}


/*End Our Resume*/
/*Start Our Education-*/
.education{
    overflow: hidden;
    padding: 50px 0;
}
.education .intro,
.education .edu-courses{
    float: left;
}
.education .intro{
    width: 50%;
    margin-right: 5%;
}
.education .edu-courses{
    width: 45%;
}
.education .intro h3{
    font-size: 30px;
    color: #888;
}

.education .edu-courses .coures-dip{
    margin:90px 0 30px ;
}
.education .edu-courses .coures-dip h4{
    font-size: 25px;
    color: #888;
    margin-bottom: 10px;
}
.education .edu-courses .coures-dip p:first-of-type{
    font-size: 18px;

}
.education .edu-courses .coures-dip p{
    margin-top: 0;
}
.education .edu-courses .coures-dip span{

    display: block;
    background-color: #2ecc71;
    color: #fff;
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-indent: 5px;

}
.education .edu-courses .coures-dip hr{
    margin: 50px 0;
}
/*End Our Education*/

/*Start testimonials*/
.testimonials{
    background-color: #ddd;
    padding: 50px 0;
    text-align: center;
}
.testimonials q{
    line-height: 1.7;
    color: #777;
    font-size: 20px;
}
.testimonials span{
    display: block;
    margin: 30px 0;
}
.testimonials ul li{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #2ecc71;
}
.testimonials ul li.active{
    background-color: #2ecc71;
}
.testimonials ul li:hover{
    background-color: #2ecc71;
    cursor: pointer;
}
/*End testimonials*/

/*start portofolio*/

.portofolio{
    text-align: center;
    padding: 50px 0;
}
.portofolio h2{
    font-size: 30px;
    font-weight: bold   ;
}

.portofolio .port-section{
    overflow: hidden;
}
.portofolio .port-section  div{
    width: 30.8%;
    margin-right: 2%;
    float: left;
    border: 3px solid #ddd;
    margin-bottom: 20px;
}

.portofolio .port-section  div:last-child{
    margin-right: 0;
}
.portofolio .port-section  div img{
    max-width: 100%;
}
/*end portofolio*/
/*start contact me*/
.contact-me{

    background-color: #252F31;
    color: #6A6E71;
    padding: 50px 0;
    overflow: hidden;
}
.contact-me .contact-intro{
    float: left;
    width: 50%;
    margin-right: 5%;
}
.contact-me .form{
    float: left;
    width: 45%;
}
.contact-me .contact-intro h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.contact-me .contact-intro span{
    display: inline-block;
    color: #fff;
}
.contact-me .form input{
    display: block;
    width: 100%;
    height: 30px;
    margin: 20px 0;
    background-color: #4B5557;
    outline: none;

}
.contact-me .form label{
    color:#D1D6DA;
}
.contact-me .form textarea{
    display: block;
    width: 70%;
    margin: 20px 0;
    background-color: #4B5557;
    outline: none;
}
.contact-me .form button{
    background-color: #191E22;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    border: none;

}
/*end contact me*/

/*start footer*/

.footer{
    background-color: #191E22;
    overflow: hidden;
    color: #6A6E71;
    padding: 10px 0 0;
}
.footer p{
    float: left;
    width: 50%;
}
.footer .social-media{
    float: left;
    width: 50%;
    text-align: right;
}

/*end footer*/
/*Start Our FreamWork*/
.clear-fix{
    clear: both;
}
p{
    line-height: 1.7;
    color: rgb(113 109 109);
    font-size: 20px;
}
.our-button{
    background-color: transparent;
    font-weight: bold;
    padding: 10px 20px;
    color: #2ecc71;
    font-size: 20px;
    border: 2px solid #2ecc71;
    cursor: pointer;
    transition: 1s;
}
.our-button:hover{
    background-color: #2ecc71;
    color: #fff;
}
.list-unstyled{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*End Our FreamWork*/